

.slideshowContainer {
    background-color: #901b22;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    background-image: url(../../../src/assets/grafisk/snowBackground_1920x1080.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}




.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
   

    & img {
        width: 740px;
        height: 580px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    & h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px;
        font-size: 3rem;
        padding-block: 20px;
        background-color: #901b22;
    }
}
.gingerbread {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: auto;
}
.reindeer {
    position: absolute;
    top: 20px;
    left: 140px;
    width: 100px;
    height: auto;
}
.tree {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: auto;
}
.bell {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 130px;
    height: auto;
}
.gift {
    position: absolute;
    bottom: 20px;
    right: 500px;
    width: 100px;
    height: auto;
}
.stocking {
    position: absolute;
    bottom: 20px;
    right: 620px;
    width: 100px;
    height: auto;
}