

.slideshowContainer {
    background-color: #901b22;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../../../public/assets/snowBackground_1440x1024.svg);
    background-repeat: no-repeat;
}




.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
   

    & img {
        width: 640px;
        height: 480px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    & h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px;
        font-size: 3rem;
        padding-block: 20px;
    }
}
