

.slideshowContainer {
    background-color: #901b22;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-image: url(../../../src/assets/grafisk/snowBackground_1920x1080.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}




.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
   

    & img {
        width: 740px;
        height: 580px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    & h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px;
        font-size: 3rem;
        padding-block: 20px;
    }
}
