.defaultVariant.slideshowTop3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  padding: 20px;
}

.defaultVariant.slideshowTop3 h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.defaultVariant .slideItem img {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
}

.defaultVariant.likes {
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: -35px;
}

.defaultVariant .likes img {
    width: 20px;  
    height: 20px;
}

.defaultVariant.imageWrapper {
  margin-bottom: 5px;
}


.frontpageVariant.slideshowTop3 h1 {
  color: var(--white);
  text-align: center;
  font-size: 28px;
}

.frontpageVariant.slideshowTop3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
}

.frontpageVariant .slideItem img {
  width: 150px;
  border-radius: 8px;
  margin: 10px;
}

.frontpageVariant.likes{
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: -35px;
}

.frontpageVariant .likes img {
  width: 20px;  
  height: 20px;
}

.frontpageVariant.imageWrapper {
  margin-bottom: 5px;
}