.slideshowTop3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  padding: 20px;
}

.slideshowTop3 h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.slideItem img {
  width: 250px;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: 20px;
}

.likes {
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.likes img {
    width: 20px;  
    height: 20px;
}

