.filter {
    background-color: rgba(128, 128, 128, 0.382);
    width: 160px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;


    & img {
        object-fit: cover;
        width: 160px;
        height: 120px;
    }
}

