.container {
    padding: 50px;
    background-color: var(--dark-red);
    text-align: center;
    color: var(--white);
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filters {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.camera {
    flex-basis: 50%;
    padding-top: 20px;
}

.top3 {
    flex-basis: 25%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}


.button {
  border-radius: 50px;
  font-size: var(--fnt4);
  font-family: Berkshire Swash;
  padding: 10px 0;
  cursor: pointer; /* kan ændres til noget julet */
  width: 300px;
  background-color: var(--light-red);
  color: var(--white);
  border: none;
}

