.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  width: 100vw; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 600px;
  background-color: rgb(144, 27, 35);
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fdffff; 
  cursor: pointer;
}

/* .customBtn {
    background-color: #fdffff;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: none;
} */