@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Berkshire Swash", serif;
}