.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.image {
  width: 100%;
  border-radius: 20px;
}

.closeButton {
  margin-top: 10px;
  gap: 5px;
  padding: 10px;
  background: #901B22;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.closeButton:hover {
  background: #555;
}

.content {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.buttonRow {
  display: flex;
  gap: 10px;
  justify-content: space-between; 
}


.toast {
    font-size: 2rem;
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
