.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.image {
  width: 100%;
  border-radius: 5px;
}

.closeButton {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 10px;
  background: #901B22;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.closeButton:hover {
  background: #555;
}
