.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.webcam {
  border-radius: 10px;
}

.button {
  padding: 10px 20px;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  background-color: #c70049;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;


  & img {
    height: 50px;
    width: 50px;
  }
}


.webcamWrapper {
  position: relative;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  width: 640px;
  height: 480px;
  pointer-events: none;
}