.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.webcam {
    border-radius: 10px;
}

.button {
    padding: 10px 20px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: #c70049;
}
